<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset="UTF-8"/>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
        <meta http-equiv = "X-UA-Compatible" content="ie=edge" />
        <title>App Batik</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="nav-container">
            <div class = "wrapper">
                <nav>
                    <div class = "logo">
                        Let's Know Batik
                    </div>
                    <ul class="nav-item">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="identifier.html">Batik Identifier</a>
                        </li>
                        <li>
                            <a href="about.html">About Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-container">
            <div class="wrapper">
                 <header>
                    <div class="definisi">
                        <div class="penjelasan">
                            <br/><br/>
                            LET’S KNOW BATIK Merupakan sebuah web untuk membantu orang-orang mengenali jenis motif batik yang ada di Indonesia. Web ini dapat mengenali 20 motif batik yang ada di Indonesia seperti motif batik Garutan, Betawi, Megamendung,  Ciamis, Pekalongan, dan lain sebagainya. 
                            <br/><br/>
                            LET'S KNOW BATIK Is a web to help people recognize the types of batik motifs that exist in Indonesia. This website can identify 20 batik motifs in Indonesia such as Garutan, Betawi, Megamendung, Ciamis, Pekalongan batik motifs, and many more.
                            <br/><br>
                            <a>Drag & Drop to Upload File</a>
                            <br/><br/>
                            <div>
                                <form method="post" action="/" enctype="multipart/form-data">
                                    <dl>
                                        <p>
                                            <input type="file" name="file" autocomplete="off" required>
                                        </p>
                                    </dl>
                                    <p>
                                        <input type="submit" value="Submit">
                                    </p>
                                </form>
                            </div>  
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </body>
</html>
